[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[core]
	eol = lf
	pager = less -x4
[alias]
	co = checkout
	ci = commit
	st = status
	fe = fetch
	cp = cherry-pick
	ls = log --pretty=oneline --abbrev-commit --graph --decorate
	la = log --format=format:'%C(bold blue)%h%C(reset) %C(bold cyan)%ai%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''        %C(white)%s%C(reset) %C(bold white)[%an]%C(reset)' --graph
	lc = log --format=format:'%C(bold blue)%h%C(reset) %C(bold cyan)%ci%C(reset) %C(bold green)(%cr)%C(reset)%C(bold yellow)%d%C(reset)%n''        %C(white)%s%C(reset) %C(bold white)[%cn]%C(reset)' --graph
	ll = log --format=format:'%C(bold blue)%h%C(reset) %C(bold cyan)%ai%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset) %C(white)%s%C(reset) %C(bold white)[%an]%C(reset)' -M --graph --name-status
	diff-staged = diff --staged -M
	diff-last = diff --cached -M HEAD~
	diff = diff -M
	aliases = "!git config -l | grep alias | cut -c 7-" # Magic :)
	serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
	catch = !git daemon --reuseaddr --verbose --base-path=. --export-all --enable=receive-pack ./.git
	text-files = grep -I --name-only ''
	lost = fsck --unreachable --no-reflogs
	merge = merge --no-ff
	fetch = fetch -p
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
	amend = commit --amend --no-edit
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[mergetool]
	prompt = false
[push]
	default = upstream
[include]
	path = .gitconfig_local

