/temp/
/tmp/
winhome
workspace
VirtualBox VMs
/*-workspace
.pip
.ssh
.bash_history
.viminfo
.lesshst
.inputrc
.VirtualBox
*.swp
.vim/.netrwhist
.ICEauthority
.Xauthority
.bash_logout
.cache/
.dbus/
.dmrc
.eclipse/
.fontconfig/
.gconf/
.gnome2/
.goutputstream-*
.gtk-bookmarks
.java/
.local/
.mission-control/
.mozilla/
.pki/
.pulse-cookie
.pulse/
.thumbnails/
.vboxclient-*
.xsession-*
Desktop/
Documents/
/.zenmap/
/.gem/
/Downloads/

.config/
