# Ignore local git configuration
/.gitconfig_local

# All swap files
*.swp
# All bkp files
*.bkp
# All lock files
*.lock
# All gdb files
/.gdb*
# All rc files
/*rc

# Local bash files
/.bash/source/*/*.local.sh

# User home directory directories
/Desktop/
/Documents/
/Downloads/
/bin/
/scripts/
/temp/
/tmp/
/workspace/

# User home directory hidden directories
/.cache/
/.compiz/
/.config/
/.data/
/.dbus/
/.eclipse/
/.gconf/
/.gem/
/.gnome/
/.heroku/
/.ipython/
/.kde/
/.local/
/.logs/
/.ssh/
/.thumbnails/
/.thunderbird/
/.vim/
/.tmp/

# User home directory hidden files
/.ICEauthority
/.Xauthority
/.bash_history
/.bash_logout
/.viminfo
/.vboxclient-*
/.xscreensaver

# Misc
/.gimp-*/
/.lesshst
/.pki/
/.pulse-cookie
/.pulse/
/.xsession-*
/.zenmap/

# Local
/.chrome-remote-desktop-session
/.dremel_completion_cache
/.dremel_history
/.gnupg/
/.googlekeys/
/.gqui/
/.news_time
/.nv/
/.p4qt/
/coverage/
/upstart-dbus-bridge.29735.pid
/upstart-dbus-bridge.3038.pid
/upstart-file-bridge.29735.pid
/upstart-file-bridge.3038.pid
/.gstreamer-0.10/
/.atom/
/.g3python/
/.bash/source/rc/work.sh
