# Ignore local git configuration
/.gitconfig_local

# All swap files
*.swp
# All bkp files
*.bkp
# All lock files
*.lock
# All gdb files
/.gdb*
# All rc files
/*rc

# User home directory directories
/Desktop/
/Documents/
/Downloads/
/bin/
/scripts/
/temp/
/tmp/
/workspace/

# User home directory hidden directories
/.bash/
/.cache/
/.compiz/
/.config/
/.data/
/.dbus/
/.eclipse/
/.gconf/
/.gem/
/.gnome/
/.ipython/
/.kde/
/.local/
/.logs/
/.ssh/
/.thumbnails/
/.thunderbird/
/.vim/

# User home directory hidden files
/.ICEauthority
/.Xauthority
/.bash_history
/.bash_logout
/.viminfo

# Misc
/.gimp-*/
/.lesshst
/.pki/
/.pulse-cookie
/.pulse/
/.xsession-*
/.zenmap/
